.logo-container {
    display: flex;
    justify-content: space-around; /* Distributes logos evenly with space around them */
    align-items: center;
    gap: 3%;
    padding: 0 10%;
}

.logo {
    height: auto;
    max-width: 200px;
}

@media (max-width: 1200px) {
    .logo {
        width: 200px;
    }
}

@media (max-width: 992px) {
    .logo {
        width: 175px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 150px;
    }
}

@media (max-width: 576px) {
    .logo {
        width: 125px;
    }
}

@media (max-width: 500px) {
    .logo {
        width: 100px;
    }
}

.project-image {
    display: block;
    width: 100%;
    max-width: 800px;
    height: auto;
    border: 0;
    margin: 0 auto 3.5em auto;
}

.project-image img {
    display: block;
    width: 100%;
    border-radius: 5px;
}