#main > #four > .container{
    padding-bottom:0;
}


.gallery{
    overflow-x:auto;
    margin-bottom:3em;
    -webkit-overflow-scrolling:touch;
    scrollbar-width:none;
    background:#fff;
    color:#fff;
    display:flex;
    gap:5px;
}
.gallery::-webkit-scrollbar{ display:none; }

.gallery img{
    height:360px;
}

.gallery h1,
.gallery h2,
.gallery h3,
.gallery h4,
.gallery h5,
.gallery h6{
    color:#fff;
}

.gallery > .forward:before,
.gallery > .backward:before{
    display:block;
    position:absolute;
    top:calc(50% - 1.5rem);
    width:4rem;
    height:3rem;
    line-height:1em;
    font-size:3rem;
    text-align:center;
}


.gallery article{
    flex:0 0 auto;
    display:block;
    position:relative;
    overflow:hidden;
    width:auto;
}

/* anchor that wraps the image */
.image-gallery{
    display:block;
    width:100%;
    border:0;
}

/* the image itself */
.gallery article img,
.image-gallery img{
    display:block;
    width:auto;
    border-radius:5%;
    object-fit:contain;
}


.gallery article .caption{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    pointer-events:none;

    position:absolute;
    inset:0;
    padding:3rem;
    background:rgba(0,0,0,.5);
    opacity:0;
    transition:opacity .2s ease-in-out !important;

    font-size:.8rem;
    border-radius:5%;
    z-index:1;
}
.gallery article:hover .caption{ opacity:1 !important; }

.gallery article .caption h3{
    font-size:1.25rem;
    margin-bottom:.25rem;
}
.gallery article .caption p{ text-align:center; }
.gallery article .caption a{ pointer-events:auto; }
.gallery article .caption > *{
    max-width:100%;
    margin-bottom:1rem;
}
.gallery article .caption > :last-child{ margin-bottom:0; }


@media (max-width:980px){
    .gallery article .caption{ padding:2rem; }
    .gallery img{ height:335px; }
}

@media (max-width:736px){
    .gallery article .caption{ padding:1rem; }
    .gallery article .caption h3{ font-size:15px; }
    .gallery article .caption p { font-size:12px; }
    .gallery img{ height:285px; }
}

@media (max-width:480px){
    .gallery article .caption{ padding:1rem; }
    .gallery article .caption h3{ font-size:12px; }
    .gallery article .caption p { font-size:10px; }
    .gallery img{ height:235px; }
}


.gallery.small article{ width:17.5rem; }
.gallery.small article .caption{ padding:2rem; }

.gallery.big article{ width:30rem; }
.gallery.big article .caption{ padding:4rem; }
