.paragraph-spacing p {
    margin-bottom: 1em;
}

.list-margin li {
    margin-left: 2em;
}

.programmatics-margin {
    margin-top: 3em !important;
}

.deliverable {
    margin-bottom: 1em;
}

.deliverable:last-child {
    margin-bottom: 2em;
}

.deliverable-header {    
    display: flex;
    gap: 1em;
    align-items: center;
    margin-left: 1em;
}

.deliverable-header .arrow {
    cursor: pointer;
    transition: transform 0.3s;
}

.deliverable-details {
    display: none;
    margin-left: 3em;
    margin-top: 5px;
}

.deliverable-details button {
    background-color: #4ACAA8;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.mission-image {
    display: block;
    width: 100%;
    border: 0;
}

.mission-image img {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 1em;
}

.lifecycle-image {
    display: block;
    width: 100%;
    border: 0;
}

.lifecycle-image img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.video {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 5px;
}

.head {
    margin-top: 3.5em;
}

.pdr-button {
    margin-bottom: 1em;
}

.logo-container {
    display: flex;
    justify-content: space-around; /* Distributes logos evenly with space around them */
    align-items: center;
    gap: 3%;
    padding: 0 10%;
}

.logo {
    height: auto;
    max-width: 175px;
}

@media (max-width: 1200px) {
    .logo {
        width: 175px;
    }
}

@media (max-width: 992px) {
    .logo {
        width: 150px;
    }
}

@media (max-width: 992px) {
    .logo {
        width: 125px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 100px;
    }
}

@media (max-width: 576px) {
    .logo {
        width: 75px;
    }
}