.logo-container {
    display: flex;
    justify-content: space-around; /* Distributes logos evenly with space around them */
    align-items: center;
    gap: 3%;
    padding: 0 10%;
}

.logo-item {
    height: auto;
    max-width: 85px;
}

@media (max-width: 992px) {
    .logo-item {
        width: 75px;
    }
}

@media (max-width: 768px) {
    .logo-item {
        width: 55px;
    }
}

@media (max-width: 576px) {
    .logo-item {
        width: 45px;
    }
}

.caption {
    text-align: center;
    font-style: italic;
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.video-container {
    display: block;
    width: 85%;
    text-align: center;
    margin: 0 auto;
}

.image-container {
    display: block;
    width: 85%;
    max-width: 350px;
    text-align: center;
    margin: 0 auto;
}

.project-video {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
    border-radius: 5px;
    margin: 0 auto;
}

.project-video source {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.project-image {
    display: block;
    width: 100%;
    height: auto;
    border: 0;
    margin: 0 auto;
}

.project-image img {
    display: block;
    width: 100%;
    border-radius: 5px;
}
